button#mining-on.hidden Turn On Mining 
button#mining-off.hidden Turn Off Mining 

.pila-coin-info
    p.status
        
    p.threads Number of threads:
        span     
    p.magic Current magical number:
        span
    p.scheduled Number of scheduled Pila Coins waiting validation: 
        span
    p.validation Number of Pila Coins under validations: 
        span