doctype html
html(lang="pt-br")
    head
        title Users in network
        meta(charset = "UTF-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")
        meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    body
        
        h1 Found Users
        table#user-list.table
            thead
                tr
                    th Id
                    th Ip Address
                    th Public Key
                    th Wallet
            tbody
        
