doctype html
html(lang="pt-br")
    head
        title Home
        meta(charset = "UTF-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")
        meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    body
        a(href="mining_report").admin.hidden Mining Report
        br
        a(href="pila_coin_list") Your Pila Coins
        br
        a(href="create_user").admin.hidden Create User
        br
        a(href="usersnetwork").admin.hidden Users In Network
        br
        button#logout Logout