h1 Your PilaCoins
table#pila-coins-list.table
    thead
        tr
            th Id
            th Creator
            th Creation
            th Magical Number
            th Total of Transactions
    tbody
        
