doctype html
html(lang="pt-br")
    head
        title Your Pila Coins
        meta(charset = "UTF-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")
        meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    body
        h1 Your PilaCoins
        table#pila-coins-list.table
            thead
                tr
                    th Id
                    th Creator
                    th Creation
                    th Magical Number
                    th Total of Transactions
                    th Transfer
            tbody
        
